<h2>All Posible Inputs using formControl</h2>
<div class="grid1x2">
  <form [formGroup]="countryComponentFormGroup">
    <mat-select-country
      formControlName="country"
      [appearance]="appearance"
      [countries]="countries"
      [label]="label"
      [placeHolder]="placeHolder"
      [readonly]="readonly"
      [tabIndex]="2"
      [class]="class"
      [itemsLoadSize]="itemsLoadSize"
      [loading]="loading"
      [showCallingCode]="showCallingCode"
      [excludedCountries]="excludedCountries"
      [language]="language"
      [name]="name"
      [cleareable]="cleareable"
      [panelWidth]="_panelWidth"
      [extendWidth]="extendWidth"
      [error]="error"
      [hint]="hint"
      (onCountrySelected)="onCountrySelected($event)"
    >
    </mat-select-country>
    <br />
    <button mat-raised-button (click)="setGermany()">Set Germany</button>
    <br />
    <button
      mat-raised-button
      type="submit"
      [disabled]="!countryComponentFormGroup.valid"
      (click)="nothing()"
    >
      Submit
    </button>
  </form>
  <form [formGroup]="countryFormGroup">
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Appearance</mat-label>
      <mat-select formControlName="appearance">
        <mat-option value="outline">outline</mat-option>
        <mat-option value="fill">fill</mat-option>
      </mat-select>
      <mat-hint
        ><a href="https://github.com/angular/components/issues/18310"
          >Changing Appearence bugs: PlaceHolder</a
        ></mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-4">
      <mat-label>Label</mat-label>
      <input matInput type="text" formControlName="label" />
      <mat-hint
        ><a href="https://github.com/angular/components/issues/18310"
          >Changing Label makes Appearance turn "outline" and PlaceHolder to
          "initialValue"</a
        ></mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>PlaceHolder</mat-label>
      <input matInput type="text" formControlName="placeHolder" />
      <mat-hint
        ><a href="https://github.com/angular/components/issues/18310"
          >Changing PlaceHolder makes Appearance turn "outline"</a
        ></mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Class</mat-label>
      <input matInput type="text" formControlName="class" placeholder="w-100" />
      <mat-hint>Class to add into final input</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-hint>Name to add into final input</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Error</mat-label>
      <input matInput type="text" formControlName="error" />
      <mat-hint>Material error in case of validation fails</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Hint</mat-label>
      <input matInput type="text" formControlName="hint" />
      <mat-hint>Material hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>ItemsLoadSize</mat-label>
      <input matInput type="number" formControlName="itemsLoadSize" />
      <mat-hint>Options limit to improve perfomance (default 20)</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Language</mat-label>
      <mat-select [formControl]="languageControl" name="lang">
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let language of availableLanguages"
          [value]="language.value"
        >
          {{ language.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <section>
      <mat-checkbox formControlName="readonly">Readonly</mat-checkbox>
      <mat-checkbox formControlName="showCallingCode"
        >ShowCallingCode</mat-checkbox
      >
      <mat-checkbox formControlName="cleareable">Cleareable</mat-checkbox>
      <mat-checkbox formControlName="extendWidth">ExtendWidth</mat-checkbox>
      <mat-checkbox formControlName="loading">Loading</mat-checkbox>
    </section>
    <section>
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-label"
          >PanelWidth</label
        >
        <label class="example-value-label">{{ _panelWidth }}</label>
      </div>
      <mat-slider
        class="example-margin"
        [disabled]="panelDisabled"
        [max]="500"
        [min]="180"
        [step]="20"
        [discrete]="true"
        [showTickMarks]="true"
      >
        <input matSliderThumb formControlName="panelWidth" />
      </mat-slider>
      <mat-checkbox formControlName="panelDisabled"
        >PanelWidth disabled</mat-checkbox
      >
      <p class="hint">This width only applies to sub-options.</p>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Predefined Countries</mat-label>
        <mat-select [formControl]="countriesControl" multiple>
          <mat-option
            *ngFor="let country of selectablecountries"
            [value]="country.alpha2Code"
            >{{ country?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Excluded Countries</mat-label>
        <mat-select [formControl]="excludedCountriesControl" multiple>
          <mat-option
            *ngFor="let country of selectablecountries"
            [value]="country.alpha2Code"
            >{{ country?.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </section>
  </form>
</div>

<markdown src="assets/md/examples/all-formcontrol.html.md"></markdown>
<markdown src="assets/md/examples/all-formcontrol.ts.md"></markdown>
